<div class="panel panel-default">
  <div class="panel-heading">
  Donate Now:
  </div>
  <div class="panel-body">
  Make a tax deductible contribution to Three Lakes Watershed Association.
  <br>
    <div class="btn-grid">
      <p id="donation-spinner">
        <img src="/img/spinner.gif">
      </p>

    <row class="row">
    <div class="col-xs-4">
      {% include widgets/checkout-button.html id="product_206934815e" %}
      {% include widgets/checkout-button-members.html id="product_206934815e" %}
    </div>

      <div class="col-xs-4">
        {% include widgets/checkout-button.html id="product_291a873784" %}
        {% include widgets/checkout-button-members.html id="product_291a873784" %}
      </div>

    <div class="col-xs-4">
      {% include widgets/checkout-button.html id="product_ae618c4512" %}
      {% include widgets/checkout-button-members.html id="product_ae618c4512" %}
    </div>

    </row>

    <hr>
    Want to make a larger contribution? <a style="color:#115591 !important;" href="/donate/">Click Here</a>
    </div>
  </div>
</div>
