<div class="panel panel-default">
<div class="panel-heading">
Donate Now:
</div>

<div class="panel-body">
Make a tax deductible contribution to Three Lakes Watershed Association.
<br>
<div class="btn-grid">

<row class="row">
<div class="col-xs-4">
  {% include widgets/checkout-button.html id="product_206934815e" %}
</div>

  <div class="col-xs-4">
    {% include widgets/checkout-button.html id="product_291a873784" %}
  </div>

<div class="col-xs-4">
  {% include widgets/checkout-button.html id="product_ae618c4512" %}
</div>

</row>

<row class="row">
<div class="col-xs-4">
  {% include widgets/checkout-button.html id="product_eecd222e14" %}
</div>

  <div class="col-xs-4">
    {% include widgets/checkout-button.html id="product_45122ebb4b" %}
  </div>

<div class="col-xs-4">
  {% include widgets/checkout-button.html id="product_a00d292bd3" %}
</div>
</row>

<row class="row">
<div class="col-xs-4">
  {% include widgets/checkout-button.html id="product_2fdc3fe854" %}
</div>

<div class="col-xs-4">
  {% include widgets/checkout-button.html id="product_dbe7c192bd" %}
</div>

<div class="col-xs-4">
  {% include widgets/checkout-button.html id="product_fe519e46e5" %}
</div>
</row>

</div>

<hr>
Want to make a larger contribution? <a style="color:#115591 !important;" href="/about/">Contact Us</a>
</div>

</div>
