<div class="documents">
  <ul>
    {% assign documents = site.documents | sort:'title' %}
    {% for item in documents %}
    <li class="row">
      {{item.category}}
      {% if item.img_path %}
      <img src="{{ item.img_path }}" alt="{{ item.title }}"/>
      {% endif %}
      <h3 class="title">{{ item.name }}</h3>
      <p class="date">{{item.publication_date}}</p>
      <p>
        {{ item.description }}
        &nbsp;
        {% if item.link %}
        <a role="button" class="btn btn-sm {% if item.cta.btnType %}{{item.cta.btnType}}{% else %}btn-success{% endif %}" href="{{item.link}}">More</a>
        {% endif %}

        {% if item.file_path %}
        <a role="button" class="btn btn-sm {% if item.cta.btnType %}{{item.cta.btnType}}{% else %}btn-info{% endif %}" href="{{item.file_path}}">Download File</a>
        {% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
